.label {
    font-size: 1rem; 
    color: #333; 
    font-weight: bold; 
}

.formcontrol {
    border: 1px solid #007bff; 
    border-radius: .25rem; 
    background-color: #f8f9fa; 
}


.formcontrol:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 123, 255, .25); 
}

.form-card{
background-color: #c5c4c4;
}