.login-card{
   background-color: #c5c4c4;
}

html, body {
    background-color: #f8f9fa;
}

.card {
    border: none; 
}



.text-danger {
    font-weight: bold; 
}

.text-center a {
    color: #002753; 
}


.label {
    font-size: 1rem; 
    color: #333; 
    font-weight: bold; 
}

